/*- - - - - - - - - - - - - - - - - - - - - - - - - - - Welcome page - - - - - - - - - - - - - - - - - - - - - - - - */
.main-div {
    margin: 0 auto;
    padding-top: 50%;
}

.welcome-page-search-line {
    min-width: 500px;
}

.welcome-page-form {
    background: #ffc;
    padding: 10px 20px;
    border-radius: 2px;
}

hr {
    padding: 0px;
    margin-top: 10px;
}

.menu-btn {
    margin-top: -15px;
}

.div-logo {
    position: absolute;
    margin-left: 13em;
    margin-top: 2em;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - Add note page - - - - - - - - - - - - - - - - - - - - - - - -*/
.add-note-btn {
    width: 21.44em;
    border-radius: 0px;
    margin-top: -1px;
}

.bg-yellow {
    max-width: 100%;
    background-color: #ffc;
    border-color: #ffc;;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - Single page - - - - - - - - - - - - - - - - - - - - - - - - -*/
.note-div-single-page {
    width: 30em;
    height: 25em;
    margin: 0 auto;
    margin-top: 30%;
    padding: 15px;
    border: 1px solid #464646;
    border-radius: 0px;
    background: #ffc;
    color: #080808;
}

.note-div-single-page h2 {
    font-size: 140%;
    font-weight: bold;
    padding-bottom: 10px;
}

.note-div-single-page p {
    font-size: 120%;
}

.note-remove-btn-div-single-page {
    width: 30em;
    margin: 0 auto;
}

.note-btn {
    width: 99.4%;
    border-radius: 0px;
    margin-top: -1px;
    margin-left: 1px;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - Results page - - - - - - - - - - - - - - - - - - - - - - - - - -*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    margin: 3em;
    background: #3f3f3f;
    color: #fff;
}

.col-md-12 a {
    background-color: #ffc;
    color: grey;
    border-color: #ffc;
    margin-right: 30px;
}

.col-md-12 a:hover {
    background-color: #e8e4ac;
}

h2, p {
    font-size: 100%;
    font-weight: normal;
}

ul, li {
    list-style: none;
}

ul {
    overflow: hidden;
    padding: 3em;
}

ul li {
    /*margin:1em;*/
    margin: 2em;
    float: left;
}

ul li h2 {
    font-size: 140%;
    font-weight: bold;
    padding-bottom: 10px;
}

ul li p {
    font-size: 120%;
}

/**/
ul li span {
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
}

ul li:nth-child(even) span {
    -o-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #cfc;
}

ul li:nth-child(3n) span {
    -o-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: #ccf;
}

ul li:nth-child(5n) span {
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    position: relative;
    top: -10px;
}

ul li span:hover, ul li span:focus {
    -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position: relative;
    z-index: 5;
}

ul li span {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 23em;
    width: 23em;
    padding: 1em;
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    -moz-transition: -moz-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    -webkit-transition: -webkit-transform .15s linear;
}